*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 

 body{
    background:#f4f4f4;
}

.editor{
    height:350px;
    background:#ffffff;
    color:rgb(0, 0, 0);
    font-family:Consolas, monospace;
    border-radius:0 0 12px 12px;
    resize:none;
    border:2px solid #444;
}

.editor:focus{
    border-color:#0d6efd;
    box-shadow:none;
}

.run-btn{
    width:180px;
    height:50px;
    font-size:20px;
    border-radius:30px;
}

.terminal{
    background:#111;
    color:#00ff66;
    min-height:220px;
    padding:20px;
    border-radius:10px;
    font-family:Consolas, monospace;
    overflow: hidden;
}

.terminal-header{
    background:#222;
    padding:10px 15px;
    font-weight:bold;
    border-bottom:1px solid #333;
}
.terminal-body{
    padding:20px;
    font-family:Consolas, monospace;
    min-height:220px;
    height: 350px;
    overflow-y:auto;
}


/* 
   Editor Header
   */
  
.editor-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#212529;
    padding:12px 18px;
    border-radius:12px 12px 0 0;
    color:white;
}

.editor-header h5{
    margin:0;
    font-size:18px;
    font-weight:700;
    letter-spacing:.5px;
}

.editor-title{
    margin:0;
    color:#fff;
    font-size:18px;
    font-weight:700;
}
/* =========================
   Footer
========================= */

.footer{
    margin-top:60px;
    padding:25px 0;
    border-top:1px solid #ddd;
    background:#f8f9fa;
}

.footer-text{
    margin:0;
    color:#555;
    font-size:15px;
}

.developer-name{
    font-weight:700;
    color:#212529;
}

.footer-links{
    margin-top:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.footer-links a{
    text-decoration:none;
    color:#0d6efd;
    font-weight:500;
    transition:color .2s ease;
}

.footer-links a:hover{
    color:#084298;
    text-decoration:underline;
}