*{
    margin: 0;
    padding: 0;
 } 

 body{
    background:#f4f4f4;
}

.editor{
    height:350px;
    background:#ffffff;
    color:rgb(0, 0, 0);
    font-family:Consolas, monospace;
    border-radius:12px;
    resize:none;
    border:2px solid #444;
}

.editor:focus{
    border-color:#0d6efd;
    box-shadow:none;
}

.run-btn{
    width:180px;
    height:50px;
    font-size:20px;
    border-radius:30px;
}

.terminal{
    background:#111;
    color:#00ff66;
    min-height:220px;
    padding:20px;
    border-radius:10px;
    font-family:Consolas, monospace;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
     transition:
        max-height .6s ease,
        opacity .5s ease;
}

.terminal.show{
    max-height:300px;
    opacity:1;
}

.terminal-header{
    background:#222;
    padding:10px 15px;
    font-weight:bold;
    border-bottom:1px solid #333;
}
.terminal-body{
    padding:20px;
    font-family:Consolas, monospace;
    min-height:220px;
}
